workflows/malware-response.json
{
  "name": "Malware Detection Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "malware-detection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "malware-detection-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.severity}}",
              "operation": "equal",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "severity-check",
      "name": "Severity Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://mock-apis:8000/api/virustotal",
        "authentication": "headerAuth",
        "nodeAuthenticationType": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "={{$env.VIRUSTOTAL_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "resource",
              "value": "={{$json.body.file_hash}}"
            }
          ]
        },
        "options": {}
      },
      "id": "virustotal-lookup",
      "name": "VirusTotal Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://mock-apis:8000/api/abuseipdb",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "={{$env.ABUSEIPDB_API_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{$json.body.source_ip}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ip-reputation",
      "name": "IP Reputation Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "and": [
            {
              "string": [
                {
                  "value1": "={{$json.data.attributes.positive}}",
                  "operation": "larger",
                  "value2": "0"
                }
              ]
            }
          ]
        }
      },
      "id": "malware-detected",
      "name": "Malware Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SLACK_BOT_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"channel\":\"{{$env.SLACK_CHANNEL}}\",\"text\":\"🚨 CRITICAL MALWARE DETECTED\\n\\nFile Hash: {{$json.body.file_hash}}\\nSource IP: {{$json.body.source_ip}}\\nThreat Level: {{$json.data.attributes.positive}}/{{$json.data.attributes.total}} engines\\n\\nImmediate response required!\"}",
        "options": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 120]
    },
    {
      "parameters": {
        "url": "{{$env.JIRA_API_URL}}/issue",
        "authentication": "headerAuth",
        "nodeAuthenticationType": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic {{base64($env.JIRA_USERNAME + \":\" + $env.JIRA_API_TOKEN)}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"fields\":{\"project\":{\"key\":\"SEC\"},\"summary\":\"CRITICAL: Malware Detection - {{$json.body.file_hash}}\",\"description\":\"Malware detected with the following details:\\n\\n• File Hash: {{$json.body.file_hash}}\\n• Source IP: {{$json.body.source_ip}}\\n• Detection Ratio: {{$json.data.attributes.positive}}/{{$json.data.attributes.total}}\\n• First Seen: {{$json.data.attributes.first_submission_date}}\\n\\nImmediate response required.\",\"issuetype\":{\"name\":\"Security Incident\"},\"priority\":{\"name\":\"Highest\"}}}",
        "options": {}
      },
      "id": "create-ticket",
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "url": "http://mock-apis:8000/api/oci/isolate",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"action\":\"isolate_endpoint\",\"instance_id\":\"{{$json.body.instance_id}}\",\"reason\":\"Malware detected - hash: {{$json.body.file_hash}}\"}",
        "options": {}
      },
      "id": "isolate-endpoint",
      "name": "Isolate Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 440]
    },
    {
      "parameters": {
        "url": "http://postgres:5432/api/v1/audit-log",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"incident_id\":\"{{$json.body.incident_id}}\",\"workflow\":\"malware_detection\",\"action\":\"endpoint_isolation\",\"timestamp\":\"{{now}}\",\"details\":{\"file_hash\":\"{{$json.body.file_hash}}\",\"source_ip\":\"{{$json.body.source_ip}}\",\"virustotal_positives\":{{$json.data.attributes.positive}},\"jira_ticket\":\"{{$node[\"Create Jira Ticket\"].json.key}}\",\"endpoint_isolated\":true}}",
        "options": {}
      },
      "id": "audit-log",
      "name": "Log to Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"message\":\"Malware detection workflow completed\",\"incident_id\":\"{{$json.body.incident_id}}\",\"actions_taken\":[\"slack_alerted\",\"ticket_created\",\"endpoint_isolated\"]}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 280]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Severity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Check": {
      "main": [
        [
          {
            "node": "VirusTotal Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "IP Reputation Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Lookup": {
      "main": [
        [
          {
            "node": "Malware Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Malware Detected?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Isolate Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Ticket": {
      "main": [
        [
          {
            "node": "Log to Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Audit": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": {},
  "tags": [
    {
      "createdAt": "2026-01-28T19:00:00.000Z",
      "updatedAt": "2026-01-28T19:00:00.000Z",
      "id": "malware-response",
      "name": "Malware Response"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-28T19:00:00.000Z",
  "versionId": "1"
}